<template>
  <footer>
    <hr/>
    <p class="text-muted">Suivez le chemin de Jésus-Christ afin que Dieu vous guide par son Saint-Esprit !</p>
  </footer>
</template>

<script>
export default {
  name: 'Foot'
}
</script>